<section class="container">
  <div class="card mb-3" style="margin-top: 70px;">
    <div class="row">
      <div class="col-md-6">
        <img class="card-img" src="{{albumInfo.albumArt}}" alt="Album Art">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h1 class="card-title">{{albumInfo.albumTitle}}</h1>
          <h6 class="card-subtitle mb-2">By {{#each artists as |artist|}}{{#if @last}}<a href="/artist/{{artist.id}}" class="text-dark">{{artist.name}}.</a>{{else}}<a href="/artist/{{artist.id}}" class="text-dark">{{artist.name}}</a>, {{/if}}{{/each}}</h6>
          <p class="card-text">Released {{albumInfo.releaseDate}} by {{albumInfo.label}}</p>
          <h6 class="card-subtitle mb-2">Track Listing</h6>
          <ol>
            {{#each tracks as |track|}}
            <li><a href="{{track.spotifyUrl}}" target="_blank" class="text-dark">{{track.name}}</a> 
            ({{track.length}})</li>
            {{/each}}
        </ol>
          </div>
        </div>
      </div>
    </div>
  </div>