<section class="container">
  <div class="card mb-3" style="max-width: vh100; margin-top: 70px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img class="card-img" src="{{artistImage}}" alt="Arist Image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">{{name}}</h1>
          {{#if genres}}
          <h6 class="card-subtitle mb-2">Genres:</h6>
          <p class="card-text">{{#each genres as |genre|}}{{#if @last}}{{genre}}.{{else}}{{genre}}, {{/if}}{{/each}}
          <br><br>
          {{/if}}
          {{#if relatedArtists}}
          <h6 class="card-subtitle mb-2">Similar Artists:</h6>
          <p class="card-text">{{#each relatedArtists as |related|}}{{#if @last}}<a href="/artist/{{related.artistId}}" class="text-dark">{{related.name}}.</a>{{else}}<a href="/artist/{{related.artistId}}/desc" class="related-artists text-dark">{{related.name}}</a>, {{/if}}{{/each}}</p>
          {{/if}}
          {{#if albums}}
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                View Albums
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/artist/{{artistID}}/desc#albums">Descending</a>
                <a class="dropdown-item" href="/artist/{{artistID}}/asc#albums">Ascending</a>
              </div>
            </div>
          {{/if}}
            <a href="{{spotifyUrl}}" target="_blank" class="btn btn-sm btn-outline-success">View Artist in <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-spotify" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.669 11.538a.498.498 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686zm.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858zm.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288z"/>
            </svg></a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#if albums}}
  <div class="py-5">
    <div class="container" id="albums">
      <h2>Albums</h2>  
      <div class="row">
        {{#each albums as |album|}}
        <div class="col-md-4" id="{{album.albumID}}">
          <div class="card mb-4 box-shadow">
            <a href="/album/{{album.albumID}}" id="album-art">
            <img class="card-img-top" src="{{album.albumArt}}" alt="Card image cap">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{album.albumTitle}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{album.year}}</h6>
              <div class="card text-center d-flex">
                <div class="card-body">
                  <h4 class="card-title">{{album.averageRating}}</h4>
                  <h6 class="card-subtitle mb-2 text-muted">{{album.numRatings}} Votes</h6>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group" id="bottom-buttons">
                  <select name="rating" class="album-rating btn btn-secondary" data-albumID="{{album.albumID}}" data-aristID="{{album.artistID}}"
                    {{#if album.userRating}}
                    data-ratingid="{{album.userRating.id}}" data-userscore="{{album.userRating.score}}"
                    {{/if}}
                    >
                    <option value="">Choose a rating:</option>
                    <option value="10">10 - Classic</option>
                    <option value="9">9 - Superb</option>
                    <option value="8">8 - Excellent</option>
                    <option value="7">7 - Great</option>
                    <option value="6">6 - Good</option>
                    <option value="5">5 - Average</option>
                    <option value="4">4 - Poor</option>
                    <option value="3">3 - Very Poor</option>
                    <option value="2">2 - Awful</option>
                    <option value="1">1 - Unbearable</option>  
                  </select>
                  <a href="{{album.spotifyUrl}}" target="_blank" class="btn btn-sm btn-outline-success">Open in <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-spotify" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.669 11.538a.498.498 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686zm.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858zm.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288z"/>
                  </svg></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}
</section>

<script src="/js/rating.js"></script>