<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">MelloFiles</h1>
    <p class="lead text-muted">"Writing about music is like dancing about architecture" - Unknown</p>
  </div>
</section>

<div class="py-5 bg-light">
  <div class="container">
    <h2>New Releases</h2>  
    <div class="row">
      {{#each newReleases as |newRelease|}}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <a href="./album/{{newRelease.albumID}}">
              <img src="{{newRelease.albumArtMedium}}" class="card-img-top" alt="{{newRelease.albumTitle}} by {{newRelease.artistName}}" />
            </a>
            <div class="card-body">
              <h5 class="card-title">{{newRelease.artistName}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{newRelease.albumTitle}}</h6>
              <p class="card-text">Released {{newRelease.releaseDate}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <a href="./artist/{{newRelease.artistID}}"class="btn btn-sm btn-outline-secondary">View Artist Page</a>
                  {{!-- <button type="button" class="btn btn-sm btn-outline-secondary">View Artist Page</button> --}}
                  <a href="{{newRelease.spotifyUrl}}" target="_blank" class="btn btn-sm btn-outline-success">Open in <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-spotify" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.669 11.538a.498.498 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686zm.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858zm.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288z"/>
                  </svg></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>